body{
    margin: 0;
    background-color: whitesmoke;
}

.headerImage{
    display: block;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

li{
    list-style-type: none;
    margin: 0 4vw;
    font-size: x-large;
}

a{
    text-decoration: none;
    color: #0b032d;
    padding: 1vw;
    font-family: optima;
}

a:hover{
    background-color: #64485c;
}

ul{
    display: flex;
    margin: 0;
    padding: 2vh;
}

nav{
    width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    height: 8vh;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    max-height: 800px;
    position: relative;
    margin: auto;
}

.mySlides{
      display: inline-block;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

  /* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.socialMediaFooter {
    padding: 1rem;
    background: #74546a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .socialMediaFooter .socialMediaIcons li:last-of-type {
    margin: auto;
  }
  
  .socialMediaFooter .socialMediaIcons .fa {
    font-size: 1.5rem;
    color: #fefefe;
  }
  
  .socialMediaFooter .socialMediaIcons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  